html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Nunito', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

/* Variables */
:root {
  --text: rgb(37, 37, 37);
}

/* Global element styles */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  color: var(--text);
}

input {
  border: none;
}
input:active, input:focus {
  outline: none;
}

/* Global styles */